<!DOCTYPE html>
<html>
<head>
  <base href="/">

  <title><%= yield(:title) %></title>

  <%= stylesheet_link_tag 'application', media: 'all' %>


  <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <%= csrf_meta_tags %>
</head>

<body>
  <%= yield %>

  <mp-garden>Loading...</mp-garden>

  <%= javascript_include_tag '/assets/chart.js/dist/Chart.bundle.min' %>

  <!-- 1. Include Angular static dependencies -->
  <%= javascript_include_tag '/assets/core-js/client/shim.min' %>
  <%= javascript_include_tag '/assets/zone.js/dist/zone' %>
  <%= javascript_include_tag '/assets/reflect-metadata/Reflect' %>
  <%= javascript_include_tag '/assets/systemjs/dist/system.src' %>

  <!-- 2. Configure SystemJS -->
  <%= javascript_include_tag '/app/system.config' %>

  <script>
    System.import('app');
  </script>
</body>
</html>
