<!DOCTYPE html>
<html>
<head>
  <base href="/">

  <title><%= yield(:title) %></title>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i" rel="stylesheet">

  <%= csrf_meta_tags %>
</head>

<body>
  <%= yield %>

  <mp-garden>Loading...</mp-garden>

  <!-- 1. Include Angular static dependencies -->
  <%= javascript_include_tag '/assets/core-js/client/shim.min', 'data-turbolinks-track' => 'reload' %>
  <%= javascript_include_tag '/assets/zone.js/dist/zone', 'data-turbolinks-track' => 'reload' %>
  <%= javascript_include_tag '/assets/reflect-metadata/Reflect', 'data-turbolinks-track' => 'reload' %>
  <%= javascript_include_tag '/assets/systemjs/dist/system.src', 'data-turbolinks-track' => 'reload' %>

  <!-- 2. Configure SystemJS -->
  <%= javascript_include_tag '/app/system.config', 'data-turbolinks-track' => 'reload' %>

  <script>
    System.import('app');
  </script>
</body>
</html>
